@charset "UTF-8";
/* import des polices d'ecriture*/
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem.ttf");
}
@font-face {
  font-family: "P22Underground-Book";
  src: url("../fonts/P22Underground-Book.otf");
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "TYPO_COMICS";
  src: url("../fonts/TYPO_COMICS.otf");
}
@font-face {
  font-family: "Caricaturista";
  src: url("../fonts/Caricaturista.ttf");
}
@font-face {
  font-family: "HindKochi-Regular";
  src: url("../fonts/HindKochi-Regular.ttf");
}
@font-face {
  font-family: "DancingScript-Bold";
  src: url("../fonts/DancingScript-Bold.ttf");
}
@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "CroissantOne-Regular";
  src: url("../fonts/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
/* BASE */
/* fix du curseur */
header, footer, main, img {
  cursor: default;
}

/* creation de la grille avec gridCSS*/
/* INDEX */
.menu_wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
  overflow: hidden;
}

.menu_note, .menu_delice {
  grid-column: 3/8;
}

.menu_note, .menu_chic {
  grid-row: 2/4;
}

.menu_chic, .menu_palette {
  grid-column: 9/14;
}

.menu_delice, .menu_palette {
  grid-row: 6/7;
}

.menu_note, .menu_delice, .menu_chic, .menu_palette {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 20px #aaa;
}

/* Creation de la grille avec gridCSS*/
/* MENU */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
  margin: 3% 10% 10% 10%;
  box-shadow: 1px 1px 20px #aaa;
}

.note, .note_enchantee, .nom_fin, .nom_restaurant {
  grid-column: 1/6;
}

.entree_titre, .plat_titre, .dessert_titre {
  grid-column: 2/5;
}

.entree_left, .plat_left, .dessert_left {
  grid-column: 1/3;
  margin-left: 20%;
}

.entree_right, .plat_right, .dessert_right {
  grid-column: 4/6;
  margin-right: 20%;
}

/* Placement de la font-awesome du haut */
.note {
  margin-top: 5%;
  grid-row: 1;
}

/* Mise en forme du nom du restaurant dans le menu */
.note_enchante, .nom_restaurant {
  grid-row: 2;
}

/* Placement sur la ligne 4 */
.entree_left, .entree_titre, .entree_right {
  grid-row: 4;
}

/* Placement sur la ligne 5 */
.entree {
  grid-row: 5;
}

.entree, .plat, .dessert {
  grid-column: 1/4;
}

/* Placement sur la ligne 7 */
.plat_left, .plat_titre, .plat_right {
  grid-row: 7;
}

/* Placement sur la ligne 8 */
.plat, .menu_soon {
  grid-row: 8;
}

/* Placement sur la ligne 10 */
.dessert_left, .dessert_titre, .dessert_right {
  grid-row: 10;
}

/* Placement sur la ligne 11 */
.dessert {
  grid-row: 11;
}

/* Placement sur la ligne 13 */
.nom_fin {
  grid-row: 13;
}

.menu_soon {
  grid-column: 5/12;
}

/* Fin organisation de GridCSS */
/* BASE */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  .menu_note, .menu_delice, .menu_chic, .menu_palette {
    grid-column: 2/15;
  }

  .menu_note {
    grid-row: 2/4;
  }

  .menu_chic {
    grid-row: 5/9;
  }

  .menu_delice {
    grid-row: 10/12;
  }

  .menu_palette {
    grid-row: 13/15;
  }

  .menu_soon {
    grid-column: 4/13;
    grid-row: 16;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .menu_note, .menu_delice {
    grid-column: 3/8;
  }

  .menu_note, .menu_chic {
    grid-row: 2/4;
  }

  .menu_chic, .menu_palette {
    grid-column: 9/14;
  }

  .menu_delice, .menu_palette {
    grid-row: 5/6;
  }

  .menu_soon {
    grid-column: 4/13;
    grid-row: 7;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_soon {
    grid-column: 3/14;
    grid-row: 7;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .menu_soon {
    grid-column: 3/14;
    grid-row: 7;
  }
}
header {
  font-family: "P22Underground-Book";
  color: #fdcb46;
  font-size: 6.5em;
  background-color: #579c87;
  cursor: default;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: -13px;
  text-align: center;
  margin: -8px -8px -8px;
}

/* HEADER */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  header {
    font-family: "P22Underground-Book";
    color: #fdcb46;
    font-size: 4.5em;
    letter-spacing: -8px;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  header {
    font-family: "P22Underground-Book";
    color: #fdcb46;
    font-size: 6em;
    letter-spacing: -11px;
  }
}
/* Mise en couleur du fond du footer */
footer {
  font-family: "P22Underground-Book";
  color: #fdcb46;
  font-size: 3em;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.yellow {
  text-decoration: none;
  color: #fdcb46;
  cursor: default;
}

.legal {
  margin-left: 2.5%;
  text-align: left;
}

.contact {
  margin-right: 2.5%;
  float: right;
}

.legal, .contact {
  cursor: default;
}
.legal:hover, .contact:hover {
  display: inline-block;
  transform-origin: center;
  animation: wiggle-anim 0.52s cubic-bezier(1, 0.28, 0, 0.97) infinite;
}
@keyframes wiggle-anim {
  10%, 90%, 40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  20%, 80%, 30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
}

/* FOOTER */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  footer {
    font-size: 1em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  footer {
    font-size: 2em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    font-size: 2em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  footer {
    font-size: 1.5em;
  }
}
/* Mise en forme titre H1 */
h1 {
  font-family: "HindKochi-Regular";
  color: #000000;
  font-size: 5em;
  text-align: center;
}

/* Alignement des titres */
.note,
.nom_restaurant,
.nom_fin,
.entree_titre,
.plat_titre,
.dessert_titre {
  text-align: center;
}

/* COMMON */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 1.5em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 2em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 3em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 3em;
  }
}
.menu_soon {
  font-family: "Stem";
  color: #fdcb46;
  font-size: 3.7em;
  background-color: #579c87;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  border-radius: 20px;
  text-align: center;
}

/* redimentionnement et placement des images de lien de menus*/
.img {
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: all 1s ease;
}
.img:hover {
  transform: scale(1.2);
  opacity: 50%;
}

/* Animations des 3 points de la section prochainement*/
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #fdcb46;
  transform-origin: center;
  animation: dot-anim 3s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes dot-anim {
  0%, 100% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
    background-color: #fdcc4634;
  }
}

/* INDEX */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 1em;
    border-radius: 10px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 1.5em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 2em;
    border-radius: 10px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 2em;
    border-radius: 10px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }
}
/*******    LA NOTE ENCHANTEE    ******/
.background_note {
  background-color: #fcdfdb;
}

.plat_note,
.entree_note,
.dessert_note {
  font-family: "Caricaturista";
  color: #3d1319;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 140% auto;
}

.entree_titre_note,
.plat_titre_note,
.dessert_titre_note {
  font-family: "TYPO_COMICS";
  color: #3d1319;
  font-size: 2.5em;
}

.note_1,
.note_2,
.note_3,
.note_4 {
  margin-left: 15%;
  grid-column: 1;
}

.note_prix_1,
.note_prix_2,
.note_prix_3,
.note_prix_4 {
  grid-column: 2;
}

.note_enchantee {
  font-family: "Devonshire-Regular";
  color: #3d1319;
  font-size: 5em;
  margin-top: -5%;
}

/* creation du souligné auto */
.titre_note {
  position: relative;
  text-decoration: none;
  color: #3d1319;
  padding: 10px 0px;
}
.titre_note:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: #3d1319;
  transition: width 2s ease-in-out;
}
.titre_note:hover:after {
  width: 100%;
}

/* alignement et mise en forme */
.note .fa {
  font-size: 7em;
}

.fa {
  font-family: "Font Awesome 5 Free";
  font-size: 1em;
  background: -webkit-linear-gradient(0deg, #f66a6a, #e76c25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  padding-top: 5%;
  padding-right: 5%;
  color: #9c47fc;
}

/* Aligenemnt des images "barre" */
img.note_right {
  margin-left: 40%;
}

img.note_left,
img.note_right {
  margin-top: 5%;
}

/* Note */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  .note_titre_h2 {
    font-size: 0.4em;
  }

  .plat_note,
.entree_note,
.dessert_note {
    font-size: 0.6em;
  }

  .titre_note {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 20px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 1.2em;
  }

  .note .fa {
    font-size: 4em;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 0.4em;
  }

  h2.note_note_enchantee {
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }

  img.note_left, img.note_right {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 6%;
  }

  .entree_titre_note, .plat_titre_note, .dessert_titre_note {
    font-size: 0.8em;
  }

  .titre_note {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 2px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  .note_1,
.note_2,
.note_3,
.note_4 {
    padding-right: 5%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .note_titre_h2 {
    padding-top: 5%;
    font-size: 2em;
  }

  h2.note_note_enchantee {
    font-size: 0.3em;
    margin-top: 0%;
    margin-bottom: -15%;
  }

  .fa.bas {
    font-size: 1em;
  }

  .plat_note,
.entree_note,
.dessert_note {
    margin-right: -12%;
    margin-left: 15%;
  }

  img.note_left, img.note_right {
    width: 70%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .entree_titre_note, .plat_titre_note, .dessert_titre_note {
    font-size: 1em;
  }

  .titre_note {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 2px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  .note_1,
.note_2,
.note_3,
.note_4 {
    padding-right: 10%;
    margin-left: 5%;
  }

  .note_prix_1,
.note_prix_2,
.note_prix_3,
.note_prix_4 {
    margin-left: -20px;
  }

  .plat_note,
.entree_note,
.dessert_note {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .note_titre_h2 {
    font-size: 0.5em;
  }

  .plat_note,
.entree_note,
.dessert_note {
    font-size: 0.7em;
  }

  .titre_note {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 20px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 1.2em;
  }

  .note .fa {
    font-size: 4em;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 0.7em;
  }

  h2.note_note_enchantee {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.note_left, img.note_right {
    width: 70%;
    margin-top: 9%;
  }

  .entree_titre_note, .plat_titre_note, .dessert_titre_note {
    font-size: 0.8em;
  }

  .titre_note {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 2px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .note_titre_h2 {
    font-size: 0.5em;
  }

  .plat_note,
.entree_note,
.dessert_note {
    font-size: 1em;
  }

  .titre_note {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 20px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 1.2em;
  }

  .note .fa {
    font-size: 4em;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 0.7em;
  }

  h2.note_note_enchantee {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.note_left, img.note_right {
    width: 70%;
    margin-top: 8%;
    margin-bottom: 6%;
  }

  .entree_titre_note, .plat_titre_note, .dessert_titre_note {
    font-size: 0.8em;
  }

  .titre_note {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 2px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }
}
/*******    La palette du goût    ******/
.plat_gout,
.entree_gout,
.dessert_gout {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.7em;
  display: grid;
  grid-template-columns: 140% auto;
}

.entree_titre_gout,
.plat_titre_gout,
.dessert_titre_gout {
  font-family: "TYPO_COMICS";
  color: #000000;
  font-size: 3em;
}

.gout_1,
.gout_2,
.gout_3,
.gout_4 {
  margin-left: 15%;
  grid-column: 1;
}

.gout_prix_1,
.gout_prix_2,
.gout_prix_3,
.gout_prix_4 {
  grid-column: 2;
}

.palette_gout {
  font-family: "KaushanScript-Regular";
  font-size: 5em;
  background: -webkit-linear-gradient(0deg, #22611f, #e3fc73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  margin-top: -5%;
}

/* creation du souligné auto */
.titre_gout {
  font-family: "TYPO_COMICS";
  color: black;
  font-size: 1em;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}
.titre_gout:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
  transition: width 2s ease-in-out;
}
.titre_gout:hover:after {
  width: 100%;
}

/* Aligenemnt des images "barre" */
img.gout_right {
  margin-left: 20%;
}

img.gout_left,
img.gout_right {
  margin-top: 5%;
}

/* GOUT */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  .gout_titre_h2 {
    font-size: 0.4em;
  }

  .plat_gout,
.entree_gout,
.dessert_gout {
    font-size: 0.6em;
  }

  .titre_gout {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_gout:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
    transition: width 2s ease-in-out;
  }
  .titre_gout:hover:after {
    width: 100%;
  }

  .nom_fin.gout_enchantee .fa {
    font-size: 1.2em;
  }

  .gout .fa {
    font-size: 4em;
  }

  .nom_fin.gout_enchantee .fa {
    font-size: 0.4em;
  }

  h2.gout_gout_enchantee {
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 6%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 0.8em;
  }

  .gout_1,
.gout_2,
.gout_3,
.gout_4 {
    padding-right: 5%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .gout_titre_h2 {
    padding-top: 5%;
    font-size: 2em;
  }

  h2.gout_gout_enchantee {
    font-size: 0.3em;
    margin-top: 0%;
    margin-bottom: -15%;
  }

  .fa.bas {
    font-size: 1em;
  }

  .plat_gout,
.entree_gout,
.dessert_gout {
    margin-right: -12%;
    margin-left: 15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 1em;
  }

  .titre_gout {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_gout:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
    transition: width 2s ease-in-out;
  }
  .titre_gout:hover:after {
    width: 100%;
  }

  .gout_1,
.gout_2,
.gout_3,
.gout_4 {
    padding-right: 10%;
    margin-left: 5%;
  }

  .gout_prix_1,
.gout_prix_2,
.gout_prix_3,
.gout_prix_4 {
    margin-left: -20px;
  }

  .plat_gout,
.entree_gout,
.dessert_gout {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gout_titre_h2 {
    font-size: 0.5em;
  }

  .plat_gout,
.entree_gout,
.dessert_gout {
    font-size: 0.7em;
  }

  .titre_gout {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_gout:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
    transition: width 2s ease-in-out;
  }
  .titre_gout:hover:after {
    width: 100%;
  }

  .nom_fin.gout_enchantee .fa {
    font-size: 1.2em;
  }

  .gout .fa {
    font-size: 4em;
  }

  .nom_fin.gout_enchantee .fa {
    font-size: 0.7em;
  }

  h2.gout_gout_enchantee {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 9%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .gout_titre_h2 {
    font-size: 0.5em;
  }

  .plat_gout,
.entree_gout,
.dessert_gout {
    font-size: 1em;
  }

  .titre_gout {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_gout:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
    transition: width 2s ease-in-out;
  }
  .titre_gout:hover:after {
    width: 100%;
  }

  .nom_fin.gout_enchantee .fa {
    font-size: 1.2em;
  }

  .gout .fa {
    font-size: 4em;
  }

  .nom_fin.gout_enchantee .fa {
    font-size: 0.7em;
  }

  h2.gout_gout_enchantee {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 8%;
    margin-bottom: 6%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 0.8em;
  }
}
/*******    LA delice ENCHANTEE    ******/
.plat_delice,
.entree_delice,
.dessert_delice {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 140% auto;
}

.entree_titre_delice,
.plat_titre_delice,
.dessert_titre_delice {
  font-family: "TYPO_COMICS";
  color: #000000;
  font-size: 2.5em;
}

.delice_1,
.delice_2,
.delice_3,
.delice_4 {
  margin-left: 15%;
  grid-column: 1;
}

.delice_prix_1,
.delice_prix_2,
.delice_prix_3,
.delice_prix_4 {
  grid-column: 2;
}

.delice_papilles {
  font-family: "DancingScript-Regular";
  font-size: 6em;
  background: -webkit-linear-gradient(0deg, #0228dd, #229cf98c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  margin-top: -5%;
}

/* creation du souligné auto */
.titre_delice {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
}
.titre_delice:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
  transition: width 2s ease-in-out;
}
.titre_delice:hover:after {
  width: 100%;
}

/* alignement et mise en forme */
.delice .fa {
  font-size: 7em;
}

.fa {
  font-family: "Font Awesome 5 Free";
  font-size: 1em;
  background: -webkit-linear-gradient(0deg, #f66a6a, #e76c25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  padding-top: 5%;
  padding-right: 5%;
  color: #9c47fc;
}

/* Aligenemnt des images "barre" */
img.delice_right {
  margin-left: 40%;
}

img.delice_left,
img.delice_right {
  margin-top: 5%;
}

/* delice */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  .delice_titre_h2 {
    font-size: 0.3em;
  }

  .plat_delice,
.entree_delice,
.dessert_delice {
    font-size: 0.6em;
  }

  .titre_delice {
    padding-top: 15%;
    font-size: 0.8em;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_delice:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 8px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
    transition: width 2s ease-in-out;
  }
  .titre_delice:hover:after {
    width: 100%;
  }

  h2.delice_delice_enchantee {
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }

  img.delice_left, img.delice_right {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 6%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 0.8em;
  }

  .delice_1,
.delice_2,
.delice_3,
.delice_4 {
    padding-right: 5%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .delice_titre_h2 {
    padding-top: 5%;
    font-size: 0.5em;
  }

  h2.delice_delice_enchantee {
    font-size: 0.3em;
    margin-top: 0%;
    margin-bottom: -15%;
  }

  .plat_delice,
.entree_delice,
.dessert_delice {
    margin-right: -12%;
    margin-left: 15%;
  }

  img.delice_left, img.delice_right {
    width: 70%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 1em;
  }

  .titre_delice {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_delice:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 8px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
    transition: width 2s ease-in-out;
  }
  .titre_delice:hover:after {
    width: 100%;
  }

  .delice_1,
.delice_2,
.delice_3,
.delice_4 {
    padding-right: 10%;
    margin-left: 5%;
  }

  .delice_prix_1,
.delice_prix_2,
.delice_prix_3,
.delice_prix_4 {
    margin-left: -20px;
  }

  .plat_delice,
.entree_delice,
.dessert_delice {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .delice_titre_h2 {
    font-size: 0.5em;
  }

  .plat_delice,
.entree_delice,
.dessert_delice {
    font-size: 0.7em;
  }

  .titre_delice {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_delice:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 8px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
    transition: width 2s ease-in-out;
  }
  .titre_delice:hover:after {
    width: 100%;
  }

  h2.delice_delice_enchantee {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.delice_left, img.delice_right {
    width: 70%;
    margin-top: 9%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .delice_titre_h2 {
    font-size: 0.5em;
  }

  .plat_delice,
.entree_delice,
.dessert_delice {
    font-size: 1em;
  }

  .titre_delice {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_delice:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 8px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
    transition: width 2s ease-in-out;
  }
  .titre_delice:hover:after {
    width: 100%;
  }

  h2.delice_delice_enchantee {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.delice_left, img.delice_right {
    width: 70%;
    margin-top: 8%;
    margin-bottom: 6%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 0.8em;
  }
}
/*******    Le chic à la française    ******/
.plat_chic,
.entree_chic,
.dessert_chic {
  font-family: "Caricaturista";
  color: #3d1319;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 140% auto;
}

.entree_titre_chic,
.plat_titre_chic,
.dessert_titre_chic {
  font-family: "TYPO_COMICS";
  color: #000000;
  font-size: 2.5em;
}

.entree_chic {
  color: #925cf9;
}

.plat_chic {
  color: #a56799;
}

.dessert_chic {
  color: #6e4ccc;
}

.chic_1,
.chic_2,
.chic_3,
.chic_4 {
  margin-left: 15%;
  grid-column: 1;
}

.chic_prix_1,
.chic_prix_2,
.chic_prix_3,
.chic_prix_4 {
  grid-column: 2;
}

.chic_francaise {
  font-family: "CroissantOne-Regular";
  font-size: 4em;
  background: -webkit-linear-gradient(0deg, #e38913, #8f5bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  margin-top: -5%;
}

/* creation du souligné auto */
.titre_chic {
  position: relative;
  text-decoration: none;
  color: #ffffff00;
  padding: 10px 0px;
}
.titre_chic:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: #ffffff00;
  transition: width 2s ease-in-out;
}
.titre_chic:hover:after {
  width: 100%;
}

/* creation du souligné auto */
.entree_titre .titre_chic {
  color: #c67412;
}

.plat_titre .titre_chic {
  color: #a56799;
}

.dessert_titre .titre_chic {
  color: #6e4ccc;
}

.entree_titre .titre_chic:after {
  background: #c67412;
}

.plat_titre .titre_chic:after {
  background: #a56799;
}

.dessert_titre .titre_chic:after {
  background: #6e4ccc;
}

/* Aligenemnt des images "barre" */
img.chic_right {
  margin-left: 40%;
}

img.chic_left,
img.chic_right {
  margin-top: 5%;
}

/* chic */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {
  .chic_titre_h2 {
    font-size: 0.4em;
  }

  .plat_chic,
.entree_chic,
.dessert_chic {
    font-size: 0.6em;
  }

  .titre_chic {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #ffffff00;
    padding: 10px 0px;
  }
  .titre_chic:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #ffffff00;
    transition: width 2s ease-in-out;
  }
  .titre_chic:hover:after {
    width: 100%;
  }

  .nom_fin.chic_francaise .fa {
    font-size: 0.4em;
  }

  h2.chic_chic_francaise {
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }

  img.chic_left, img.chic_right {
    width: 50%;
    margin-top: 0%;
    margin-bottom: 6%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 0.8em;
  }

  .chic_1,
.chic_2,
.chic_3,
.chic_4 {
    padding-right: 5%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {
  .chic_francaise {
    padding-top: 5%;
    font-size: 2em;
  }

  .plat_chic,
.entree_chic,
.dessert_chic {
    margin-right: -12%;
    margin-left: 15%;
  }

  img.chic_left, img.chic_right {
    width: 70%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 1em;
  }

  .titre_chic {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #ffffff00;
    padding: 10px 0px;
  }
  .titre_chic:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #ffffff00;
    transition: width 2s ease-in-out;
  }
  .titre_chic:hover:after {
    width: 100%;
  }

  .chic_1,
.chic_2,
.chic_3,
.chic_4 {
    padding-right: 10%;
    margin-left: 5%;
  }

  .chic_prix_1,
.chic_prix_2,
.chic_prix_3,
.chic_prix_4 {
    margin-left: -20px;
  }

  .plat_chic,
.entree_chic,
.dessert_chic {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .chic_titre_h2 {
    font-size: 0.5em;
  }

  .plat_chic,
.entree_chic,
.dessert_chic {
    font-size: 0.7em;
  }

  .titre_chic {
    font-size: 1.7em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #ffffff00;
    padding: 10px 0px;
  }
  .titre_chic:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #ffffff00;
    transition: width 2s ease-in-out;
  }
  .titre_chic:hover:after {
    width: 100%;
  }

  .nom_fin.chic_francaise .fa {
    font-size: 1.2em;
  }

  .chic .fa {
    font-size: 4em;
  }

  .nom_fin.chic_francaise .fa {
    font-size: 0.7em;
  }

  h2.chic_chic_francaise {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.chic_left, img.chic_right {
    width: 70%;
    margin-top: 6%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .chic_titre_h2 {
    font-size: 0.5em;
  }

  .plat_chic,
.entree_chic,
.dessert_chic {
    font-size: 1em;
  }

  .titre_chic {
    font-size: 2em;
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #ffffff00;
    padding: 10px 0px;
  }
  .titre_chic:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #ffffff00;
    transition: width 2s ease-in-out;
  }
  .titre_chic:hover:after {
    width: 100%;
  }

  .nom_fin.chic_francaise .fa {
    font-size: 1.2em;
  }

  .chic .fa {
    font-size: 4em;
  }

  .nom_fin.chic_francaise .fa {
    font-size: 0.7em;
  }

  h2.chic_chic_francaise {
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.chic_left, img.chic_right {
    width: 70%;
    margin-top: 8%;
    margin-bottom: 6%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 0.8em;
  }
}
/* Mise en page pour les mentions legales*/
h1.legal {
  text-align: center;
}

p.legal_text {
  text-align: justify;
}

/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
