@charset "UTF-8";
/* DEBUG GRIDCSS */
/*
[class*="grd-"],header, footer{
    background-color: rgba(243, 77, 77, 0.596);
    border: 2px solid black;
    line-height: 40px;
    border-radius: 6px;
}

/* FIN DEBUG */
/* import des polices d'ecriture*/
@import url(//db.onlinewebfonts.com/c/7f657883f3f087c0e9864ae86af80411?family=Stem);
@font-face {
  font-family: "Stem";
  src: url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.eot");
  src: url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.woff") format("woff"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.svg#Stem") format("svg");
}
@font-face {
  font-family: "P22Underground-Book";
  src: url("../fonts/P22Underground-Book.ttf");
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "TYPO_COMICS";
  src: url("../fonts/TYPO_COMICS.otf");
}
@font-face {
  font-family: "Caricaturista";
  src: url("../fonts/Caricaturista.ttf");
}
@font-face {
  font-family: "HindKochi-Regular";
  src: url("../fonts/HindKochi-Regular.ttf");
}
@font-face {
  font-family: "DancingScript-Bold";
  src: url("../fonts/DancingScript-Bold.ttf");
}
@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "CroissantOne-Regular";
  src: url("../fonts/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
/* BASE */
/* fix du curseur */
header, footer, main, img {
  cursor: default;
}

/* creation de la grille avec gridCSS*/
/* INDEX */
.menu_wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
}

.menu_note, .menu_delice {
  grid-column: 3/8;
}

.menu_note, .menu_chic {
  grid-row: 2/4;
}

.menu_chic, .menu_palette {
  grid-column: 9/14;
}

.menu_delice, .menu_palette {
  grid-row: 6/7;
}

.menu_note, .menu_delice, .menu_chic, .menu_palette {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 20px #aaa;
}

/* Creation de la grille avec gridCSS*/
/* MENU */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
  margin: 3% 10% 10% 10%;
  box-shadow: 1px 1px 20px #aaa;
}

.note, .note_enchantee, .nom_fin, .nom_restaurant {
  grid-column: 1/6;
}

.entree_titre, .plat_titre, .dessert_titre {
  grid-column: 2/5;
}

.entree_left, .plat_left, .dessert_left {
  grid-column: 1/3;
  margin-left: 20%;
}

.entree_prix, .plat_prix, .dessert_prix {
  text-align: right;
}

.entree_right, .plat_right, .dessert_right, .entree_prix, .plat_prix, .dessert_prix {
  grid-column: 4/6;
  margin-right: 20%;
}

.dessert_no_prix {
  grid-column: 1/6;
  margin: 0% 8%;
}

.dessert_gout {
  grid-column: 1/4;
  margin: 0% 8%;
}

/* Placement de la font-awesome du haut */
.note {
  margin-top: 5%;
  grid-row: 1;
}

/* Mise en forme du nom du restaurant dans le menu */
.note_enchante, .nom_restaurant {
  grid-row: 2;
}

/* Placement sur la ligne 4 */
.entree_left, .entree_titre, .entree_right {
  grid-row: 4;
}

/* Placement sur la ligne 5 */
.entree, .entree_prix {
  grid-row: 5;
}

.entree, .plat, .dessert {
  grid-column: 1/4;
  margin-left: 13.5%;
}

/* Placement sur la ligne 7 */
.plat_left, .plat_titre, .plat_right {
  grid-row: 7;
}

/* Placement sur la ligne 8 */
.plat, .plat_prix {
  grid-row: 8;
}

/* Placement sur la ligne 10 */
.dessert_left, .dessert_titre, .dessert_right {
  grid-row: 10;
}

/* Placement sur la ligne 11 */
.dessert, .dessert_prix, .dessert_no_prix, .dessert_prix_gout {
  grid-row: 11;
}

/* Placement sur la ligne 13 */
.nom_fin {
  grid-row: 13;
}

.menu_soon {
  grid-column: 5/12;
  grid-row: 8;
}

/* Fin organisation de GridCSS */
header {
  background-color: #579c87;
  color: #fdcb46;
  cursor: default;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "P22Underground-Book";
  letter-spacing: -13px;
  font-size: 6.5em;
  text-align: center;
  margin: -8px -8px -8px;
}

/* Mise en couleur du fond du footer */
footer {
  background-color: #579c87;
  color: #fdcb46;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "P22Underground-Book";
  font-size: 3em;
  padding-top: 2%;
  padding-bottom: 2%;
}

.yellow {
  text-decoration: none;
  color: #fdcb46;
  cursor: default;
}

.legal {
  margin-left: 2.5%;
  text-align: left;
}

.contact {
  margin-right: 2.5%;
  float: right;
}

/* Animations du wiggle */
.legal:hover, .contact:hover {
  display: inline-block;
  transform-origin: center;
  animation: wiggle-anim 0.52s cubic-bezier(1, 0.28, 0, 0.97) infinite;
}

@keyframes wiggle-anim {
  10%, 90%, 40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  20%, 80%, 30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
}
/* Mise en forme titre H1 */
h1 {
  text-align: center;
  font-size: 5em;
  font-family: "HindKochi-Regular";
}

/* Alignement des titres */
.note,
.nom_restaurant,
.nom_fin,
.entree_titre,
.plat_titre,
.dessert_titre {
  text-align: center;
}

.menu_soon {
  background-color: #579c87;
  color: #fdcb46;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  font-family: "Stem";
  border-radius: 20px;
  text-align: center;
  font-size: 3.7em;
}

/* redimentionnement et placement des images de lien de menus*/
.img {
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: all 1s ease;
}

/* augmentation de la taille de l'image au passage du curseur*/
.img:hover {
  transform: scale(1.2);
  opacity: 50%;
}

/* Animations des 3 points de la section prochainement*/
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #fdcb46;
  transform-origin: center;
  animation: dot-anim 3s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-anim {
  0%, 100% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
    background-color: #fdcc4634;
  }
}
/*******    LA NOTE ENCHANTEE    ******/
.background_note {
  background-color: #fcdfdb;
}

.prix_note,
.plat_prix_note,
.dessert_prix_note {
  font-family: "Caricaturista";
  color: #3d1319;
  font-size: 1.5em;
}

.plat_note,
.dessert_prix,
.entree_note {
  font-family: "Caricaturista";
  color: #3d1319;
  font-size: 1.5em;
}

.entree_titre_note,
.plat_titre_note,
.dessert_titre_note {
  font-family: "TYPO_COMICS";
  font-size: 2.5em;
  color: #3d1319;
}

.dessert_note {
  font-family: "Caricaturista";
  color: #3d1319;
  font-size: 1.5em;
}

.note_enchantee {
  font-family: "Devonshire-Regular";
  font-size: 5em;
  color: #3d1319;
  margin-top: -5%;
}

/* Mise en forme des barre de decoration des titres du menu */
.barre_note {
  width: 60%;
  height: 8px;
  margin: auto;
  background: #3d1319;
}

/* Creation du border-radius pour les lignes */
.barre_note.right {
  border-radius: 2000% 300% 780% 500%;
}

.barre_note.left {
  border-radius: 300% 2000% 500% 780%;
}

/* creation du souligné auto */
.titre_note {
  position: relative;
  text-decoration: none;
  color: #3d1319;
  padding: 10px 0;
}

.titre_note:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: #3d1319;
  transition: width 2s ease-in-out;
}

.titre_note:hover:after {
  width: 100%;
}

/* alignement et mise en forme */
.note .fa {
  font-size: 7em;
}

.fa {
  font-size: 1em;
  padding-top: 5%;
  padding-right: 5%;
  color: #9c47fc;
  background: -webkit-linear-gradient(0deg, #f66a6a, #e76c25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/*******    LA PALETTE DU GOUT    ******/
/* Modification de GridCSS */
.entree_gout,
.plat_gout,
.dessert_gout {
  grid-column: 1/5;
  margin-left: 15%;
}

.entree_titre_gout,
.plat_titre_gout,
.dessert_titre_gout {
  font-family: "TYPO_COMICS";
  font-size: 5em;
}

.prix_gout,
.plat_prix_gout,
.dessert_prix_gout {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.8em;
  margin-right: 25%;
  line-height: 1.4em;
}

.plat_gout,
.dessert_gout,
.entree_gout {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.7em;
  line-height: 1.5em;
}

.palette_gout,
.nom_fin_gout {
  font-family: "KaushanScript-Regular";
  font-size: 5em;
  background: -webkit-linear-gradient(0deg, #22611f, #e3fc73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* Mise en forme des barre de decoration des titres du menu */
.barre_gout.right {
  margin-left: 25%;
}

.barre_gout.left {
  margin-left: 10%;
}

.barre_gout {
  margin-top: 10%;
}

/* creation du souligné auto */
.titre_gout {
  color: #000000;
}

.titre_gout:after {
  background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
}

.titre_gout {
  position: relative;
  text-decoration: none;
  font-size: 0.6em;
  padding: 10px 0;
}

.titre_gout:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  transition: width 2s ease-in-out;
}

.titre_gout:hover:after {
  width: 100%;
}

/*******    LE DELICE DES PAPILLES    ******/
/* alignement */
.entree_titre_papilles,
.plat_titre_papilles,
.dessert_titre_papilles {
  font-family: "TYPO_COMICS";
  font-size: 4.5em;
  color: #000000;
}

.prix_papilles,
.plat_prix_papilles,
.dessert_papilles {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.5em;
  margin-top: 1%;
}

.plat_papilles,
.dessert_prix_papilles,
.entree_papilles {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.6em;
}

.delice_papilles,
.nom_fin_papilles {
  font-family: "DancingScript-Regular";
  font-size: 6em;
  background: -webkit-linear-gradient(0deg, #0228dd, #229cf98c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* Alignements des <img> */
.barre_papilles_left {
  margin-top: 8%;
  margin-left: 27%;
}

.barre_papilles_right {
  margin-top: 8%;
  margin-left: 15%;
}

/* Modification de GridCSS */
.entree_papilles,
.plat_papilles,
.dessert_papilles {
  grid-column: 1/5;
  margin-left: 25%;
}

.prix_papilles,
.plat_prix_papilles,
.dessert_prix_papilles {
  margin-right: 50%;
}

/* creation du souligné auto */
.titre_papilles {
  color: #000000;
}

.titre_papilles:after {
  background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
}

.titre_papilles {
  position: relative;
  text-decoration: none;
  font-size: 0.6em;
  padding: 10px 0;
}

.titre_papilles:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  transition: width 2s ease-in-out;
}

.titre_papilles:hover:after {
  width: 100%;
}

/*******    LE CHIC A LA FRANCAISE    ******/
/* alignement */
.chic_francaise {
  margin-bottom: 5%;
}

.background_chic {
  background-color: #fff5fe;
}

.entree_titre_chic,
.plat_titre_chic,
.dessert_titre_chic {
  font-family: "TYPO_COMICS";
  font-size: 2.5em;
}

.entree_prix_chic,
.plat_prix_chic,
.dessert_prix_chic,
.plat_chic,
.dessert_chic,
.entree_chic {
  font-family: "Caricaturista";
  font-size: 1.5em;
}

.entree_chic,
.entree_prix_chic {
  color: #925cf9;
}

.plat_chic,
.plat_prix_chic {
  color: #a56799;
}

.dessert_chic,
.dessert_prix_chic,
.dessert_chic {
  color: #6e4ccc;
}

.chic_francaise,
.nom_fin_chic {
  font-family: "CroissantOne-Regular";
  font-size: 4em;
  background: -webkit-linear-gradient(0deg, #e38913, #8f5bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* Placement des images du menu */
img.chic.right {
  margin-top: 5%;
  margin-left: 45%;
}

img.chic.left {
  margin-top: 5%;
  margin-left: -15%;
}

/* creation du souligné auto */
.entree_titre .titre_chic {
  color: #c67412;
}

.plat_titre .titre_chic {
  color: #a56799;
}

.dessert_titre .titre_chic {
  color: #6e4ccc;
}

.entree_titre .titre_chic:after {
  background: #c67412;
}

.plat_titre .titre_chic:after {
  background: #a56799;
}

.dessert_titre .titre_chic:after {
  background: #6e4ccc;
}

.titre_chic {
  position: relative;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 0;
}

.titre_chic:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  transition: width 2s ease-in-out;
}

.titre_chic:hover:after {
  width: 100%;
}

/* Mise en page pour les mentions legales*/
h1.legal {
  text-align: center;
}

p.legal_text {
  text-align: justify;
}

/*****COMMON*****/
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
}
/******INDEX*****/
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .menu_soon {
    font-size: 1.5em;
  }

  .dot {
    width: 5px;
    height: 5px;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .menu_soon {
    font-size: 3em;
  }

  .dot {
    width: 7px;
    height: 7px;
  }
}
/*****NOTE ENCHANTEE*****/
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .note_enchantee {
    font-size: 1.8em;
  }

  .prix_note,
.plat_prix_note,
.dessert_prix_note {
    font-size: 1.35em;
  }

  .plat_note,
.dessert_prix,
.entree_note,
.dessert_note {
    font-size: 0.8em;
  }

  .entree_titre_note,
.plat_titre_note,
.dessert_titre_note {
    margin-top: 5%;
    font-size: 1.5em;
  }

  .plat_titre_note {
    margin-top: 9%;
    font-size: 1em;
  }

  .dessert_titre_note {
    margin-top: 11%;
    font-size: 0.8em;
  }

  /* Mise en forme des barre de decoration des titres du menu */
  .barre_note {
    height: 4px;
  }

  .titre_note:after {
    height: 4px;
  }

  /* alignement et mise en forme */
  .note .fa {
    font-size: 4em;
  }

  .fa {
    font-size: 1em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .prix_note,
.plat_prix_note,
.dessert_prix_note {
    font-size: 1.15em;
  }

  .plat_note {
    line-height: 1.3em;
  }
}
/*****LA PALLETTE DU GOUT*****/
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .palette_gout,
.nom_fin_gout {
    font-size: 1.5em;
  }

  /* Mise en forme des barre de decoration des titres du menu */
  .barre_gout.right {
    margin-left: 25%;
    width: 20%;
  }

  .barre_gout.left {
    margin-left: 10%;
    width: 20%;
  }

  .barre_gout {
    margin-top: 10%;
    width: 20%;
  }

  img.palette {
    width: 350%;
  }

  .entree_titre_gout {
    margin-top: -5%;
    font-size: 2.3em;
  }

  .plat_titre_gout {
    font-size: 1.7em;
  }

  .dessert_titre_gout {
    margin-top: 7%;
    font-size: 1em;
  }

  .titre_gout:after {
    height: 4px;
  }

  .entree_gout,
.plat_gout,
.dessert_gout {
    font-size: 1em;
  }

  .prix_gout,
.plat_prix_gout,
.dessert_prix_gout {
    font-size: 1em;
  }

  .prix_gout {
    line-height: 3.5em;
  }

  .plat_prix_gout {
    line-height: 4em;
  }

  .dessert_prix_gout {
    line-height: 3.3em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .palette_gout,
.nom_fin_gout {
    font-size: 1.5em;
  }

  /* Mise en forme des barre de decoration des titres du menu */
  .barre_gout.right {
    margin-left: 25%;
    width: 20%;
  }

  .barre_gout.left {
    margin-left: 10%;
    width: 20%;
  }

  .barre_gout {
    margin-top: 10%;
    width: 20%;
  }

  img.palette {
    width: 350%;
  }

  .entree_titre_gout {
    margin-top: 1%;
    font-size: 2.3em;
  }

  .plat_titre_gout {
    margin-top: 2%;
    font-size: 2em;
  }

  .dessert_titre_gout {
    margin-top: 2%;
    font-size: 2em;
  }

  .entree_gout,
.plat_gout,
.dessert_gout {
    font-size: 1em;
  }

  .prix_gout,
.plat_prix_gout,
.dessert_prix_gout {
    font-size: 1em;
  }

  .prix_gout {
    line-height: 2em;
  }

  .plat_prix_gout {
    line-height: 2.8em;
  }

  .dessert_prix_gout {
    line-height: 2.2em;
  }
}
/*****LE DELICE DES PAPILLES*****/
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .delice_papilles {
    font-size: 1.5em;
  }

  .titre_papilles {
    font-size: 0.2em;
  }

  /* Placement des images du menu */
  img.delice.right {
    width: 100%;
    margin-left: 0%;
    margin-bottom: -23%;
  }

  img.delice.left {
    width: 100%;
    margin-left: -15%;
    margin-bottom: -20%;
  }

  /* Soulignement */
  .titre_papilles:after {
    height: 2px;
  }

  /* alignement */
  .entree_titre_papilles,
.plat_titre_papilles,
.dessert_titre_papilles {
    font-size: 2.5em;
  }

  .prix_papilles,
.plat_prix_papilles,
.dessert_prix_papilles {
    font-size: 0.5em;
    margin-top: 1%;
  }

  .plat_papilles,
.dessert_papilles,
.entree_papilles {
    font-size: 0.6em;
    margin-left: 10%;
    padding-right: 10%;
  }

  .prix_papilles {
    line-height: 200%;
  }

  .plat_prix_papilles {
    line-height: 280%;
  }

  .dessert_prix_papilles {
    line-height: 160%;
  }
}
/*****MOBILE*****/
/* paysage */
/*****LE CHIC A LA FRANCAISE*****/
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .chic_francaise,
.nom_fin_chic {
    font-size: 1.5em;
  }

  .entree_titre_chic,
.plat_titre_chic,
.dessert_titre_chic {
    font-size: 0.5em;
  }

  .titre_chic {
    margin-top: 15%;
  }

  .barre_chic.right {
    margin-left: 50%;
  }

  .barre_chic.left {
    margin-left: 50%;
  }

  /* Placement des images du menu */
  img.chic.right {
    width: 200%;
    margin-left: -60%;
    margin-bottom: 15%;
  }

  img.chic.left {
    width: 135%;
    margin-left: -90%;
    margin-bottom: 10%;
  }

  /* Soulignement */
  .titre_chic:after {
    height: 3px;
  }

  .plat_chic,
.dessert_chic,
.entree_chic,
.entree_prix_chic,
.plat_prix_chic,
.dessert_prix_chic {
    font-size: 0.6em;
  }

  .entree_prix_chic {
    line-height: 150%;
  }

  .plat_prix_chic,
.dessert_prix_chic {
    line-height: 250%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .chic_francaise,
.nom_fin_chic {
    font-size: 1.5em;
  }
}
/* BASE */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 666px) {
  .menu_note, .menu_delice, .menu_chic, .menu_palette {
    grid-column: 2/15;
  }

  .menu_note {
    grid-row: 2/4;
  }

  .menu_chic {
    grid-row: 5/9;
  }

  .menu_delice {
    grid-row: 10/12;
  }

  .menu_palette {
    grid-row: 13/15;
  }

  .menu_soon {
    grid-column: 2/15;
    grid-row: 16;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .menu_note, .menu_delice {
    grid-column: 3/8;
  }

  .menu_note, .menu_chic {
    grid-row: 2/4;
  }

  .menu_chic, .menu_palette {
    grid-column: 9/14;
  }

  .menu_delice, .menu_palette {
    grid-row: 5/6;
  }

  .menu_soon {
    grid-column: 2/15;
    grid-row: 7;
  }
}
/* HEADER */
/*****MOBILE*****/
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  header {
    letter-spacing: -10px;
    font-size: 5.5em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  header {
    letter-spacing: -10px;
    font-size: 4.5em;
  }
}
/* FOOTER */
/** Mobile **/
/* Portrait/paysage */
@media screen and (min-width: 375px) and (max-width: 767px) {
  footer {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
