@charset "UTF-8";
/* import des polices d'ecriture*/
@import url(//db.onlinewebfonts.com/c/7f657883f3f087c0e9864ae86af80411?family=Stem);
@font-face {
  font-family: "Stem";
  src: url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.eot");
  src: url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.woff") format("woff"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.svg#Stem") format("svg");
}
@font-face {
  font-family: "P22Underground-Book";
  src: url("../fonts/P22Underground-Book.ttf");
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../fonts/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "TYPO_COMICS";
  src: url("../fonts/TYPO_COMICS.otf");
}
@font-face {
  font-family: "Caricaturista";
  src: url("../fonts/Caricaturista.ttf");
}
@font-face {
  font-family: "HindKochi-Regular";
  src: url("../fonts/HindKochi-Regular.ttf");
}
@font-face {
  font-family: "DancingScript-Bold";
  src: url("../fonts/DancingScript-Bold.ttf");
}
@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "CroissantOne-Regular";
  src: url("../fonts/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
/* BASE */
/* fix du curseur */
header, footer, main, img {
  cursor: default;
}

/* creation de la grille avec gridCSS*/
/* INDEX */
.menu_wrapper {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
  overflow: hidden;
}

.menu_note, .menu_delice {
  grid-column: 3/8;
}

.menu_note, .menu_chic {
  grid-row: 2/4;
}

.menu_chic, .menu_palette {
  grid-column: 9/14;
}

.menu_delice, .menu_palette {
  grid-row: 6/7;
}

.menu_note, .menu_delice, .menu_chic, .menu_palette {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 20px #aaa;
}

/* Creation de la grille avec gridCSS*/
/* MENU */
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
  margin: 3% 10% 10% 10%;
  box-shadow: 1px 1px 20px #aaa;
}

.note, .note_enchantee, .nom_fin, .nom_restaurant, .dessert_no_prix {
  grid-column: 1/6;
}

.entree_titre, .plat_titre, .dessert_titre {
  grid-column: 2/5;
}

.entree_left, .plat_left, .dessert_left {
  grid-column: 1/3;
  margin-left: 20%;
}

.entree_prix, .plat_prix, .dessert_prix {
  text-align: right;
}

.entree_right, .plat_right, .dessert_right, .entree_prix, .plat_prix, .dessert_prix {
  grid-column: 4/6;
  margin-right: 20%;
}

.dessert_no_prix, .dessert_gout {
  margin: 0% 8%;
}

/* Placement de la font-awesome du haut */
.note {
  margin-top: 5%;
  grid-row: 1;
}

/* Mise en forme du nom du restaurant dans le menu */
.note_enchante, .nom_restaurant {
  grid-row: 2;
}

/* Placement sur la ligne 4 */
.entree_left, .entree_titre, .entree_right {
  grid-row: 4;
}

/* Placement sur la ligne 5 */
.entree, .entree_prix {
  grid-row: 5;
}

.entree, .plat, .dessert, .dessert_gout {
  grid-column: 1/4;
  margin-left: 13.5%;
}

/* Placement sur la ligne 7 */
.plat_left, .plat_titre, .plat_right {
  grid-row: 7;
}

/* Placement sur la ligne 8 */
.plat, .plat_prix, .menu_soon {
  grid-row: 8;
}

/* Placement sur la ligne 10 */
.dessert_left, .dessert_titre, .dessert_right {
  grid-row: 10;
}

/* Placement sur la ligne 11 */
.dessert, .dessert_prix, .dessert_no_prix, .dessert_prix_gout {
  grid-row: 11;
}

/* Placement sur la ligne 13 */
.nom_fin {
  grid-row: 13;
}

.menu_soon {
  grid-column: 5/12;
}

/* Fin organisation de GridCSS */
/* BASE */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .menu_note, .menu_delice, .menu_chic, .menu_palette {
    grid-column: 2/15;
  }

  .menu_note {
    grid-row: 2/4;
  }

  .menu_chic {
    grid-row: 5/9;
  }

  .menu_delice {
    grid-row: 10/12;
  }

  .menu_palette {
    grid-row: 13/15;
  }

  .menu_soon {
    grid-column: 4/13;
    grid-row: 16;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .menu_note, .menu_delice {
    grid-column: 3/8;
  }

  .menu_note, .menu_chic {
    grid-row: 2/4;
  }

  .menu_chic, .menu_palette {
    grid-column: 9/14;
  }

  .menu_delice, .menu_palette {
    grid-row: 5/6;
  }

  .menu_soon {
    grid-column: 4/13;
    grid-row: 7;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_soon {
    grid-column: 3/14;
    grid-row: 7;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .menu_soon {
    grid-column: 3/14;
    grid-row: 7;
  }
}
header {
  font-family: "P22Underground-Book";
  color: #fdcb46;
  font-size: 6.5em;
  background-color: #579c87;
  cursor: default;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: -13px;
  text-align: center;
  margin: -8px -8px -8px;
}

/* HEADER */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  header {
    font-family: "P22Underground-Book";
    color: #fdcb46;
    font-size: 4.5em;
    letter-spacing: -8px;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  header {
    font-family: "P22Underground-Book";
    color: #fdcb46;
    font-size: 6em;
    letter-spacing: -11px;
  }
}
/* Mise en couleur du fond du footer */
footer {
  font-family: "P22Underground-Book";
  color: #fdcb46;
  font-size: 3em;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.yellow {
  text-decoration: none;
  color: #fdcb46;
  cursor: default;
}

.legal {
  margin-left: 2.5%;
  text-align: left;
}

.contact {
  margin-right: 2.5%;
  float: right;
}

.legal, .contact {
  cursor: default;
}
.legal:hover, .contact:hover {
  display: inline-block;
  transform-origin: center;
  animation: wiggle-anim 0.52s cubic-bezier(1, 0.28, 0, 0.97) infinite;
}
@keyframes wiggle-anim {
  10%, 90%, 40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  20%, 80%, 30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
}

/* FOOTER */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  footer {
    font-family: "P22Underground-Book";
    color: #fdcb46;
    font-size: 1.5em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  footer {
    font-family: "P22Underground-Book";
    color: #fdcb46;
    font-size: 2em;
  }
}
/* Mise en forme titre H1 */
h1 {
  font-family: "HindKochi-Regular";
  color: #000000;
  font-size: 5em;
  text-align: center;
}

/* Alignement des titres */
.note,
.nom_restaurant,
.nom_fin,
.entree_titre,
.plat_titre,
.dessert_titre {
  text-align: center;
}

/* COMMON */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 1.5em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 2em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 3em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  h1 {
    font-family: "HindKochi-Regular";
    color: #000000;
    font-size: 3em;
  }
}
.menu_soon {
  font-family: "Stem";
  color: #fdcb46;
  font-size: 3.7em;
  background-color: #579c87;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  border-radius: 20px;
  text-align: center;
}

/* redimentionnement et placement des images de lien de menus*/
.img {
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: all 1s ease;
}
.img:hover {
  transform: scale(1.2);
  opacity: 50%;
}

/* Animations des 3 points de la section prochainement*/
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #fdcb46;
  transform-origin: center;
  animation: dot-anim 3s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes dot-anim {
  0%, 100% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
    background-color: #fdcc4634;
  }
}

/* INDEX */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 1em;
    border-radius: 10px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 1.5em;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 2em;
    border-radius: 10px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .menu_soon {
    font-family: "Stem";
    color: #fdcb46;
    font-size: 2em;
    border-radius: 10px;
  }

  .dot {
    width: 4px;
    height: 4px;
  }
}
/*******    LA NOTE ENCHANTEE    ******/
.background_note {
  background-color: #fcdfdb;
}

.prix_note,
.plat_prix_note,
.dessert_prix_note,
.plat_note,
.dessert_prix,
.entree_note,
.dessert_note {
  font-family: "Caricaturista";
  color: #3d1319;
  font-size: 1.5em;
}

.entree_titre_note,
.plat_titre_note,
.dessert_titre_note {
  font-family: "TYPO_COMICS";
  color: #3d1319;
  font-size: 2.5em;
}

.note_enchantee {
  font-family: "Devonshire-Regular";
  color: #3d1319;
  font-size: 5em;
  margin-top: -5%;
}

/* Mise en forme des barre de decoration des titres du menu */
.barre_note {
  width: 60%;
  height: 8px;
  margin: auto;
  background: #3d1319;
}

/* Creation du border-radius pour les lignes */
.barre_note.right {
  border-radius: 2000% 300% 780% 500%;
}

.barre_note.left {
  border-radius: 300% 2000% 500% 780%;
}

/* creation du souligné auto */
.titre_note {
  position: relative;
  text-decoration: none;
  color: #3d1319;
  padding: 10px 0px;
}
.titre_note:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: #3d1319;
  transition: width 2s ease-in-out;
}
.titre_note:hover:after {
  width: 100%;
}

/* alignement et mise en forme */
.note .fa {
  font-size: 7em;
}

.fa {
  font-family: "Font Awesome 5 Free";
  font-size: 1em;
  background: -webkit-linear-gradient(0deg, #f66a6a, #e76c25);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  padding-top: 5%;
  padding-right: 5%;
  color: #9c47fc;
}

/* Note */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 667px) {
  .note_titre_h2 {
    font-size: 0.5em;
  }

  .prix_note,
.plat_prix_note,
.dessert_prix_note,
.plat_note,
.dessert_prix,
.entree_note,
.dessert_note {
    font-size: 0.6em;
  }

  .prix_note_entree {
    line-height: 24.5px;
  }

  .prix_note_plat {
    line-height: 20px;
  }

  .entree_titre_note,
.plat_titre_note,
.dessert_titre_note {
    font-size: 1.2em;
  }

  /* creation du souligné auto */
  .titre_note {
    padding-top: 15%;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 20px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  /* Mise en forme des barre de decoration des titres du menu */
  .barre_note {
    width: 35%;
    height: 5px;
    margin-top: 10px;
    background: #3d1319;
  }

  /* Creation du border-radius pour les lignes */
  .barre_note.right {
    border-radius: 2000% 300% 780% 500%;
  }

  .barre_note.left {
    border-radius: 300% 2000% 500% 780%;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 1.2em;
  }

  /* alignement et mise en forme */
  .note .fa {
    font-size: 4em;
  }

  .nom_fin.note_enchantee .fa {
    font-size: 0.4em;
  }

  h2.note_note_enchantee {
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 666px) and (max-width: 767px) {
  .note_titre_h2 {
    padding-top: 5%;
    font-size: 2em;
  }

  h2.note_note_enchantee {
    font-size: 0.3em;
    margin-top: 0%;
    margin-bottom: -15%;
  }

  .fa.bas {
    font-size: 8em;
  }

  .plat_note,
.entree_note {
    margin-right: -30px;
  }

  .prix_note_entree,
.prix_note_plat {
    line-height: 11px;
  }
}
/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1365px) {
  .note_titre_h2,
.note_note_enchantee {
    font-size: 1em;
  }

  .titre_note {
    font-size: 0.6em;
    position: relative;
    text-decoration: none;
    color: #3d1319;
    padding: 0px 0px;
  }
  .titre_note:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 35%;
    background: #3d1319;
    transition: width 2s ease-in-out;
  }
  .titre_note:hover:after {
    width: 100%;
  }

  .entree_note,
.plat_note,
.dessert_note {
    font-size: 0.9em;
    margin-right: -200px;
  }

  .prix_note,
.plat_prix_note {
    font-size: 0.9em;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .entree_note,
.plat_note,
.dessert_note {
    font-size: 1.2em;
    margin-right: -200px;
  }

  .prix_note,
.plat_prix_note {
    font-size: 1.2em;
  }
}
/*******    LA PALETTE DU GOUT    ******/
/* Modification de GridCSS */
.entree_gout,
.plat_gout,
.dessert_gout {
  grid-column: 1/5;
  margin-left: 15%;
}

.entree_titre_gout,
.plat_titre_gout,
.dessert_titre_gout {
  font-family: "TYPO_COMICS";
  color: #ffffff00;
  font-size: 5em;
}

.prix_gout,
.plat_prix_gout,
.dessert_prix_gout {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.8em;
  margin-right: 25%;
  line-height: 1.4em;
}

.plat_gout,
.dessert_gout,
.entree_gout {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.7em;
  line-height: 1.5em;
}

.palette_gout,
.nom_fin_gout {
  font-family: "KaushanScript-Regular";
  font-size: 5em;
  background: -webkit-linear-gradient(0deg, #22611f, #e3fc73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* Mise en forme des barre de decoration des titres du menu */
.barre_gout.right {
  margin-left: 25%;
}

.barre_gout.left {
  margin-left: 10%;
}

.barre_gout {
  margin-top: 10%;
}

/* creation du souligné auto */
.titre_gout {
  color: #000000;
}

.titre_gout {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  font-size: 0.6em;
}
.titre_gout:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
  transition: width 2s ease-in-out;
}
.titre_gout:hover:after {
  width: 100%;
}

/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 666px) {
  .palette_gout,
.nom_fin_gout {
    font-family: "KaushanScript-Regular";
    font-size: 1.3em;
    background: -webkit-linear-gradient(0deg, #22611f, #e3fc73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
  }

  .palette_left {
    width: 60%;
  }

  .palette_right {
    width: 90%;
  }

  .entree_titre_gout,
.plat_titre_gout,
.dessert_titre_gout {
    font-family: "TYPO_COMICS";
    color: #ffffff00;
    font-size: 2em;
  }

  .titre_gout {
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_gout:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
    transition: width 2s ease-in-out;
  }
  .titre_gout:hover:after {
    width: 100%;
  }
  .titre_gout:after {
    margin-bottom: 8%;
  }

  .plat_gout,
.dessert_gout,
.entree_gout {
    font-family: "Caricaturista";
    color: #000000;
    font-size: 0.6em;
    padding-right: 20px;
  }

  .prix_gout,
.plat_prix_gout,
.dessert_prix_gout {
    font-family: "Caricaturista";
    color: #000000;
    font-size: 0.6em;
    margin-right: 30px;
    line-height: 3em;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .palette_gout h2 {
    font-size: 2.5em;
  }

  img.palette_left {
    width: 60%;
    margin-top: 53px;
    margin-left: 20%;
  }

  img.palette_right {
    width: 90%;
    margin-top: 53px;
  }

  .titre_gout {
    font-size: 0.2em;
  }

  .prix_gout, .plat_prix_gout, .dessert_prix_gout {
    padding-right: 30px;
  }

  .prix_gout,
.plat_prix_gout {
    line-height: 1.5em;
  }

  .dessert_prix_gout {
    line-height: 2.1em;
  }

  .entree_gout,
.plat_gout,
.dessert_gout {
    font-size: 1.2em;
  }

  .prix_gout,
.plat_prix_gout,
.dessert_prix_gout {
    font-size: 1.2em;
    line-height: 52px;
  }

  .titre_gout {
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_gout:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #b6f87a, #41963c, #b6f87a);
    transition: width 2s ease-in-out;
  }
  .titre_gout:hover:after {
    width: 100%;
  }
  .titre_gout:after {
    margin-bottom: 8%;
  }
}
/*****TABLETTE*****/
/* portrait */
/*****TABLETTE*****/
/* paysage */
/*******    LE DELICE DES PAPILLES    ******/
/* alignement */
.entree_titre_papilles,
.plat_titre_papilles,
.dessert_titre_papilles {
  font-family: "TYPO_COMICS";
  color: #000000;
  font-size: 4.5em;
}

.prix_papilles,
.plat_prix_papilles,
.dessert_papilles {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.5em;
  margin-top: 1%;
}

.plat_papilles,
.dessert_prix_papilles,
.entree_papilles {
  font-family: "Caricaturista";
  color: #000000;
  font-size: 1.6em;
}

.delice_papilles,
.nom_fin_papilles {
  font-family: "DancingScript-Regular";
  font-size: 6em;
  background: -webkit-linear-gradient(0deg, #0228dd, #229cf98c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* Alignements des <img> */
.barre_papilles_left {
  margin-top: 8%;
  margin-left: 27%;
}

.barre_papilles_right {
  margin-top: 8%;
  margin-left: 15%;
}

/* Modification de GridCSS */
.entree_papilles,
.plat_papilles,
.dessert_papilles {
  grid-column: 1/5;
  margin-left: 25%;
}

.prix_papilles,
.plat_prix_papilles,
.dessert_prix_papilles {
  margin-right: 50%;
}

/* creation du souligné auto */
.titre_papilles {
  color: #000000;
}

.titre_papilles {
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  font-size: 0.6em;
}
.titre_papilles:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
  transition: width 2s ease-in-out;
}
.titre_papilles:hover:after {
  width: 100%;
}

/* Chic */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 666px) {
  .delice_papilles,
.nom_fin_papilles {
    font-family: "DancingScript-Regular";
    font-size: 1.2em;
    background: -webkit-linear-gradient(0deg, #0228dd, #229cf98c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
  }

  .entree_titre_papilles,
.plat_titre_papilles,
.dessert_titre_papilles {
    font-family: "TYPO_COMICS";
    color: #000000;
    font-size: 1.5em;
  }

  .delice.left {
    width: 70%;
    margin-top: 8%;
    margin-left: -20%;
  }

  .delice.right {
    width: 70%;
    margin-top: 8%;
    margin-left: 40%;
  }

  .titre_papilles {
    position: relative;
    text-decoration: none;
    padding: 10px 0;
  }
  .titre_papilles:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 35%;
    background: -webkit-linear-gradient(0deg, #0228dd, #229df9, #0228dd);
    transition: width 2s ease-in-out;
  }
  .titre_papilles:hover:after {
    width: 100%;
  }
  .titre_papilles:after {
    margin-bottom: 10px;
  }

  .plat_papilles,
.dessert_prix_papilles,
.entree_papilles,
.dessert_papilles {
    font-family: "Caricaturista";
    color: #000000;
    font-size: 0.8em;
    margin-right: 0%;
    margin-left: 5%;
  }

  .prix_papilles,
.plat_prix_papilles,
.dessert_prix_papilles {
    font-family: "Caricaturista";
    color: #000000;
    font-size: 0.8em;
    margin-right: 15px;
  }

  .prix_papilles {
    line-height: 26px;
  }

  .plat_prix_papilles {
    line-height: 30px;
  }

  .dessert_prix_papilles {
    line-height: 15.5px;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  img.delice.right,
img.delice.left {
    margin-top: 0%;
    width: 70%;
    margin-bottom: -40px;
  }

  .titre_papilles {
    font-size: 0.2em;
  }

  .entree_papilles, .plat_papilles, .dessert_papilles {
    margin-left: 60px;
    margin-top: 0px;
    font-size: 0.65em;
  }

  .prix_papilles,
.plat_prix_papilles,
.dessert_prix_papilles {
    font-size: 0.6em;
  }

  .nom_restaurant.delice_papilles {
    font-size: 2.5em;
  }
}
/*****TABLETTE*****/
/* portrait */
/*****TABLETTE*****/
/* paysage */
/*******    LE CHIC A LA FRANCAISE    ******/
/* alignement */
.chic_francaise {
  margin-bottom: 5%;
}

.background_chic {
  background-color: #fff5fe;
}

.entree_titre_chic,
.plat_titre_chic,
.dessert_titre_chic {
  font-family: "TYPO_COMICS";
  color: #ffffff00;
  font-size: 2.5em;
}

.entree_prix_chic,
.plat_prix_chic,
.dessert_prix_chic,
.plat_chic,
.dessert_chic,
.entree_chic {
  font-family: "Caricaturista";
  color: #ffffff00;
  font-size: 1.5em;
}

.entree_chic,
.entree_prix_chic {
  color: #925cf9;
}

.plat_chic,
.plat_prix_chic {
  color: #a56799;
}

.dessert_chic,
.dessert_prix_chic,
.dessert_chic {
  color: #6e4ccc;
}

.chic_francaise,
.nom_fin_chic {
  font-family: "CroissantOne-Regular";
  font-size: 4em;
  background: -webkit-linear-gradient(0deg, #e38913, #8f5bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
}

/* Placement des images du menu */
img.chic.right {
  margin-top: 5%;
  margin-left: 45%;
}

img.chic.left {
  margin-top: 5%;
  margin-left: -15%;
}

/* creation du souligné auto */
.entree_titre .titre_chic {
  color: #c67412;
}

.plat_titre .titre_chic {
  color: #a56799;
}

.dessert_titre .titre_chic {
  color: #6e4ccc;
}

.entree_titre .titre_chic:after {
  background: #c67412;
}

.plat_titre .titre_chic:after {
  background: #a56799;
}

.dessert_titre .titre_chic:after {
  background: #6e4ccc;
}

.titre_chic {
  position: relative;
  text-decoration: none;
  color: #ffffff00;
  padding: 10px 0px;
}
.titre_chic:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  border-radius: 35%;
  background: #ffffff00;
  transition: width 2s ease-in-out;
}
.titre_chic:hover:after {
  width: 100%;
}

/* Chic */
/*****MOBILE*****/
/* portrait */
@media screen and (min-width: 375px) and (max-width: 667px) {
  .chic_francaise,
.nom_fin_chic {
    font-size: 0.6em;
  }

  img.chic.left {
    width: 70%;
  }

  img.chic.right {
    width: 70%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    padding-top: 2%;
    font-size: 0.75em;
  }

  .titre_chic {
    position: relative;
    text-decoration: none;
    color: #ffffff00;
    padding: 10px 0px;
  }
  .titre_chic:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 35%;
    background: #ffffff00;
    transition: width 2s ease-in-out;
  }
  .titre_chic:hover:after {
    width: 100%;
  }
  .titre_chic:after {
    margin-bottom: 10px;
  }

  .entree_prix_chic, .plat_prix_chic, .dessert_prix_chic, .plat_chic, .dessert_chic, .entree_chic {
    font-size: 0.6em;
    padding-left: 10%;
  }
}
/*****MOBILE*****/
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
  .nom_restaurant {
    font-size: 1.5em;
  }

  .titre_chic {
    font-size: 1.8em;
  }

  .entree_chic,
.plat_chic,
.dessert_chic {
    margin-right: -80px;
  }

  .dessert_no_prix {
    padding-left: 30px;
  }

  img.chic.left,
img.chic.right {
    margin-top: 20px;
  }
}
/*****TABLETTE*****/
/* portrait */
/*****TABLETTE*****/
/* paysage */
/* Mise en page pour les mentions legales*/
h1.legal {
  text-align: center;
}

p.legal_text {
  text-align: justify;
}

/*****TABLETTE*****/
/* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/*****TABLETTE*****/
/* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
