/* BASE */
/*****TABLETTE***/
@media screen and (min-width: 768px) and (max-width: 1024px) {



    .menu_note, .menu_delice{
        grid-column: 3/8;
    }
    .menu_note, .menu_chic {
        grid-row: 2/4;
    }
    .menu_chic, .menu_palette{
        grid-column: 9/14;
    }
    .menu_delice,.menu_palette{
        grid-row: 6/7;
    }
    .menu_note, .menu_delice, .menu_chic, .menu_palette{
        overflow: hidden;
        position: relative; 
        box-shadow: $box-shadow;
    }
}