/* HEADER */
/*****MOBILE*****/ /* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {

    header{
        letter-spacing: -10px;
        font-size: 5.5em;
    }

}


/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
    
    header{
        letter-spacing: -10px;
        font-size: 4.5em;
    }
}