@font-face {
	font-family: 'P22Underground-Book';
    src: url('../font/P22Underground-Book.otf');
}    
@font-face {    
	font-family: 'HolidayFunday';
	src: url('../font/HolidayFunday.otf');
}    
@font-face {      
	font-family: 'Great_Wishes';
	src: url('../font/Great_Wishes.otf');
} 
@font-face {      
	font-family: 'Letters_for_learners';
	src: url('../font/Letters_for_learners.ttf');
}

/* creation de la grille avec gridCSS*/
.wrapper {
	display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
}

.note, .note_enchante, .note_note_enchantee, .entree_titre, .plat_titre, .dessert_titre{
  text-align: center;
}

.note, .note_enchante, .entree_titre, .plat_titre,.dessert_titre, .note_note_enchantee{
  grid-column: 3/4;
}

.entree_left, .plat_left, .dessert_left{
  grid-column: 1/3;
}

.entree_right, .plat_right, .dessert_right{
  grid-column: 4/6;
}

.note{
  grid-row: 1;
}

.note_enchante{
  grid-row: 2;
}

.entree_left, .entree_titre, .entree_right{
  grid-row: 3;
}

.entree, .entree_prix{
  grid-row: 4;
}

.entree_prix, .plat_prix, .dessert_prix{
  grid-column: 5/6;
}

.plat_left, .plat_titre, .plat_right{
  grid-row: 5;
}

.plat, .plat_prix{
  grid-row: 6;
}

.plat, .dessert{
  grid-column: 1/4;
}

.dessert_left, .dessert_titre, .dessert_right{
  grid-row: 7; 
}

.dessert, .dessert_prix{
  grid-row: 8;
}

.note_note_enchantee{
  grid-row: 9;  
}