/*
[class*="grd-"],header, footer{
    background-color: rgba(243, 77, 77, 0.596);
    border: 2px solid black;
    line-height: 40px;
    border-radius: 6px;
}

/*Police d'ecriture*/
@import url(//db.onlinewebfonts.com/c/7f657883f3f087c0e9864ae86af80411?family=Stem);
@font-face {font-family: "Stem"; 
  src: url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.eot"); 
  src: url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/7f657883f3f087c0e9864ae86af80411.svg#Stem") format("svg"); } 

@font-face {
  font-family: 'P22Underground-Book';
  src: url('./font/P22Underground-Book.otf');
}

/*header*/
header, footer, .soon{
  background-color: #579C87;
}

header, .soon, footer{
  color: #FDCB46;
}

header{
  cursor: default;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'P22Underground-Book';
  letter-spacing: -13px;
  font-size: 7em;
  text-align: center;
}

/* Main */

/* creation de la grille avec gridCSS*/
.wrapper {
	display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(50px, auto);
  padding-bottom: 10%;
}
.note, .delice{
  grid-column: 5/8;
}
.note, .chic {
  grid-row: 2/4;
}
.chic, .palette{
  grid-column: 9/12;
}
.delice,.palette{
  grid-row: 6/7;
}
.note, .delice, .chic, .palette{
  overflow: hidden;
  position: relative; 
  box-shadow: 1px 1px 20px #aaa;
}
/* redimentionnement et placement des images de lien de menus*/
.img{
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: all 1s ease;
}
/* augmentation de la taille de l'image au passage du curseur*/
.img:hover{
  transform:scale(1.20);
  opacity: 50%;
}

/* Mise forme et couleur de la section prochainement*/
.soon {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Stem;
  grid-column: 6/11;
  grid-row: 8;
  border-radius: 20px;
  text-align: center;
  font-size: 4.1em;
}

/* Animations des 3 points de la section prochainement*/
.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background-color: #FDCB46;
	transform-origin: center;
	animation: dot-anim 3s infinite;
}
.dot:nth-child(1) {
	animation-delay: 0s;
}
.dot:nth-child(2) {
	animation-delay: .2s;
}
.dot:nth-child(3) {
	animation-delay: .4s;
}
@keyframes dot-anim {
	0% {
			transform: scale(2);
	}
	50% {
      transform: scale(0.5);
      background-color: rgba(253, 204, 70, 0.205);
	}
	100% {
			transform: scale(2);
	}
}

/* Mise en page pour les mentions legales*/
h1.legal{
  text-align:center;
}
p.legal{
  text-align:justify;
}

/*footer*/
footer{
  position: fixed;
  bottom: 0;left: 0;right: 0;
  font-family: 'P22Underground-Book';
  font-size: 3em;
  padding-top: 2%;
  padding-bottom: 2%;
}
.yellow{
  text-decoration:none; 
  color: #FDCB46;
  cursor: default;
}
.legal{
  margin-left: 2.5%;
  text-align: left;
}
.contact{
  margin-right: 2.5%;
  float: right;
}


/*****MOBILE*****/
@media screen and (min-width: 375px) and (max-width: 767px) {
  
  header{    
    letter-spacing: -9px;
    font-size: 4em;
  }

  .img:hover{
    transform:scale(2);
    box-shadow: 1px 1px 170px rgb(56, 56, 56);
  }

  .soon {
    border-radius: 10px;
    margin-bottom: 10%;
    font-size: 1em;
  }

  .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
  }

  footer{
    font-family: 'P22Underground-Book';
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 2%;
  }
	
}

/*****TABLETTE*****/

@media screen and (min-width: 768px) and (max-width: 1024px) {

	
}