.menu_soon {
  background-color: $green;
  color: $yellow;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  font-family: "Stem";
  border-radius: 20px;
  text-align: center;
  font-size: 3.7em;
}

/* redimentionnement et placement des images de lien de menus*/
.img {
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: all 1s ease;
}
/* augmentation de la taille de l'image au passage du curseur*/
.img:hover {
  transform: scale(1.2);
  opacity: 50%;
}

/* Animations des 3 points de la section prochainement*/
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: $yellow;
  transform-origin: center;
  animation: dot-anim 3s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dot-anim {
  0%,
  100% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.5);
    background-color: $yellow-clear;
  }
}
