/* Mise en couleur du fond du footer */
footer{
    background-color: $green;
    color: $yellow;
    position: fixed;
    bottom: 0;left: 0;right: 0;
    font-family: 'P22Underground-Book';
    font-size: 3em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.yellow{
    text-decoration:none; 
    color: $yellow;
    cursor: default;
}
.legal{
    margin-left: 2.5%;
    text-align: left;
}
.contact{
    margin-right: 2.5%;
    float: right;
}

.legal, .contact{
    @include wiggle
}

