header{
    background-color: $green;
    color: $yellow;
    cursor: default;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'P22Underground-Book';
    letter-spacing: -13px;
    font-size: 6.5em;
    text-align: center;
    margin: -8px -8px -8px;
}