/* Mise en forme titre H1 */
h1 {
  @include setfont ('HindKochi-Regular',5em,$black);
  text-align: center;
}

/* Alignement des titres */
.note,
.nom_restaurant,
.nom_fin,
.entree_titre,
.plat_titre,
.dessert_titre {
  text-align: center;
}

article{
  display: grid;
  grid-template-columns: auto 10%;
}

/* COMMON */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {

  h1 {
    @include setfont ('HindKochi-Regular',1.5em,$black);
  }
}

/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

  h1 {
    @include setfont ('HindKochi-Regular',2em,$black);
  }
}

/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  h1 {
    @include setfont ('HindKochi-Regular',3em,$black);
  }
}
/*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

  h1 {
    @include setfont ('HindKochi-Regular',3em,$black);
  }
}