/* Mise en forme titre H1 */
h1{
    text-align: center;
    font-size: 5em;
    font-family: 'HindKochi-Regular';
}

/* Alignement des titres */
.note, .nom_restaurant,.nom_fin, .entree_titre, .plat_titre, .dessert_titre{
    text-align: center;
  }