/* Mise en forme titre H1 */
h1{
    text-align: center;
    font-size: 5em;
    font-family: 'HindKochi-Regular';
}

/* Alignement des titres */
.note, .nom_restaurant,.nom_fin, .entree_titre, .plat_titre, .dessert_titre{
    text-align: center;
}

  /*****MOBILE*****/ /* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {

    h1{
        font-size: 2em;
    }

}


/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
    
    h1{
        font-size: 3em;
    }
}