/*******    La palette du goût    ******/

.plat_gout,
.entree_gout,
.dessert_gout {
  @include setfont ('Caricaturista',1.7em,$black);
  display: grid;
  grid-template-columns: 140% auto;
}

.entree_titre_gout,
.plat_titre_gout,
.dessert_titre_gout {
  @include setfont ('TYPO_COMICS',3em,$black);
}

.gout_1,
.gout_2,
.gout_3,
.gout_4{
  margin-left: 15%;
  grid-column: 1;
}
.gout_prix_1,
.gout_prix_2,
.gout_prix_3,
.gout_prix_4{
  grid-column: 2;
}

.palette_gout {
  @include gradient( 'KaushanScript-Regular',5em,$dark-green,$yellow-sky);
  margin-top: -5%;
}

/* creation du souligné auto */
.titre_gout {  
  @include setfont ('TYPO_COMICS',1em,black);
  @include soulignementDouble($green-light, $sky-green);
}

/* Aligenemnt des images "barre" */

img.gout_right{
  margin-left: 20%;
}
img.gout_left,
img.gout_right{
  margin-top: 5%;
}

/* GOUT */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {

  .gout_titre_h2{
    font-size: 0.4em;
  }

  .plat_gout,
  .entree_gout,
  .dessert_gout {
    font-size: 0.6em;
  }

  .titre_gout {  
    padding-top: 15%;
    @include soulignementDouble($green-light, $sky-green,3px);
  }

  h2.gout_gout_enchantee{
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 0%;
    margin-bottom: 6%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 0.8em;
  }

  .gout_1,
  .gout_2,
  .gout_3,
  .gout_4{
    padding-right: 5%;
  }
}
/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

  .gout_titre_h2{
    padding-top: 5%;
    font-size: 0.7em;
  }
  h2.gout_gout_enchantee{
    font-size: 0.3em;
    margin-top: 0%;
    margin-bottom: -15%;
  }
  .plat_gout,
  .entree_gout,
  .dessert_gout{
    margin-right: -12%;
    margin-left: 15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 1em;
  }

  .titre_gout {  
    padding-top: 15%;
    @include soulignementDouble($green-light, $sky-green,3px);
  }

  .gout_1,
  .gout_2,
  .gout_3,
  .gout_4{
    padding-right: 10%;
    margin-left: 5%;
  }
  .gout_prix_1,
  .gout_prix_2,
  .gout_prix_3,
  .gout_prix_4{
    margin-left: -20px;
  }

  .plat_gout,
  .entree_gout,
  .dessert_gout {
    font-size: 0.8em;
  }
}

/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  .gout_titre_h2{
    font-size: 0.5em;
  }

  .plat_gout,
  .entree_gout,
  .dessert_gout {
    font-size: 0.7em;
  }

  .titre_gout {  
    font-size: 2em;
    padding-top: 15%;
    @include soulignementDouble($green-light, $sky-green,4px);
  }

  h2.gout_gout_enchantee{
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 9%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  
  .gout_titre_h2{
    font-size: 0.5em;
  }

  .plat_gout,
  .entree_gout,
  .dessert_gout {
    font-size: 1em;
  }

  .titre_gout {  
    font-size: 2em;
    padding-top: 15%;
    @include soulignementDouble($green-light, $sky-green,4px);
  }

  h2.gout_gout_enchantee{
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  img.gout_left, img.gout_right {
    width: 70%;
    margin-top: 8%;
    margin-bottom: 6%;
  }

  .entree_titre_gout, .plat_titre_gout, .dessert_titre_gout {
    font-size: 0.8em;
  }
}
