/*******    LE DELICE DES PAPILLES    ******/
/* alignement */
.entree_titre_papilles,
.plat_titre_papilles,
.dessert_titre_papilles {
  @include setfont ('TYPO_COMICS',4.5em,$black);
}

.prix_papilles,
.plat_prix_papilles,
.dessert_papilles {
  @include setfont ('Caricaturista',1.5em,$black);
  margin-top: 1%;
}

.plat_papilles,
.dessert_prix_papilles,
.entree_papilles {
  @include setfont ('Caricaturista',1.6em,$black);
}

.delice_papilles,
.nom_fin_papilles {
  @include gradient( 'DancingScript-Regular',6em,$blue,$blue-clear);
}

/* Alignements des <img> */
.barre_papilles_left {
  margin-top: 8%;
  margin-left: 27%;
}
.barre_papilles_right {
  margin-top: 8%;
  margin-left: 15%;
}

/* Modification de GridCSS */
.entree_papilles,
.plat_papilles,
.dessert_papilles {
  grid-column: 1/5;
  margin-left: 25%;
}

.prix_papilles,
.plat_prix_papilles,
.dessert_prix_papilles {
  margin-right: 50%;
}

/* creation du souligné auto */
.titre_papilles {
  color: $black;
}
.titre_papilles {
  @include soulignementDouble($blue, $sky-blue);
  font-size: 0.6em;
}


/* Chic */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 375px) and (max-width: 666px) {

  .delice_papilles,
  .nom_fin_papilles {
    @include gradient( 'DancingScript-Regular',1.2em,$blue,$blue-clear);
  }

  .entree_titre_papilles,
  .plat_titre_papilles,
  .dessert_titre_papilles {
    @include setfont ('TYPO_COMICS',1.5em,$black);
  }

  .delice.left {
    width: 70%;
    margin-top: 8%;
    margin-left: -20%;
  }
  .delice.right {
    width: 70%;
    margin-top: 8%;
    margin-left: 40%;
  }
  .titre_papilles {
    @include soulignementDouble($blue, $sky-blue,4px);
    &:after{
      margin-bottom: 10px;
    }
  }
  .plat_papilles,
  .dessert_prix_papilles,
  .entree_papilles,
  .dessert_papilles {
    @include setfont ('Caricaturista',0.8em,$black);
    margin-right: 0%;
    margin-left: 5%;
  }
  .prix_papilles,
  .plat_prix_papilles,
  .dessert_prix_papilles {
    @include setfont ('Caricaturista',0.8em,$black);
    margin-right: 15px;
  }
  .prix_papilles{
    line-height: 26px;
  }
  .plat_prix_papilles{
    line-height: 30px;
  }
  .dessert_prix_papilles{
    line-height: 15.5px;
  }
}

/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {

  img.delice.right,
  img.delice.left{
    margin-top: 0%;
    width: 70%;
    margin-bottom: -40px;
  }
  .titre_papilles{
    font-size: 0.2em;
  }
  .entree_papilles, .plat_papilles, .dessert_papilles {
    margin-left: 60px;
    margin-top: 0px;
    font-size: 0.65em;
  }
  .prix_papilles,
  .plat_prix_papilles,
  .dessert_prix_papilles{
    font-size: 0.6em;
  }
  .nom_restaurant.delice_papilles{
    font-size: 2.5em;
  }
}

/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1365px) {

  .titre_delice_h2{
    font-size: 0.7em;
  }

  img.delice.left,
  img.delice.right{
    width: 80%;
    margin-top: 45px;
  }

  .titre_papilles{
    font-size: 0.3em;
    @include soulignementDouble($blue, $sky-blue,3px);
    &:after{
      margin-bottom: 12px;
    }
  }

  .entree_papilles,
  .plat_papilles,
  .dessert_papilles{
    font-size: 0.75em;
    margin-left: 18%;
  }

  .prix_papilles,
  .plat_prix_papilles,
  .dessert_prix_papilles{
    margin-right: 35%;
    font-size: 0.75em;
  }
}
/*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {

  

  img.delice.left,
  img.delice.right{
    margin-top: 37px;
  }

  .entree_papilles,
  .plat_papilles,
  .dessert_papilles{
    font-size: 1em;
  }

  .prix_papilles,
  .plat_prix_papilles,
  .dessert_prix_papilles{
    margin-right: 40%;
    font-size: 1em;
  }
}
