/*******    LE CHIC A LA FRANCAISE    ******/
/* alignement */
.chic_francaise {
  margin-bottom: 5%;
}

.background_chic {
  background-color: $white;
}

.entree_titre_chic,
.plat_titre_chic,
.dessert_titre_chic {
  @include setfont ('TYPO_COMICS',2.5em);
}

.entree_prix_chic,
.plat_prix_chic,
.dessert_prix_chic,
.plat_chic,
.dessert_chic,
.entree_chic {
  @include setfont ('Caricaturista',1.5em);
}

.entree_chic,
.entree_prix_chic {
  color: $purple-clear;
}
.plat_chic,
.plat_prix_chic {
  color: $dark-pink;
}
.dessert_chic,
.dessert_prix_chic,
.dessert_chic {
  color: $dark-purple;
}

.chic_francaise,
.nom_fin_chic {
  @include gradient( 'CroissantOne-Regular',4em,$orange-gradient,$violet-gradient);
}

/* Placement des images du menu */
img.chic.right {
  margin-top: 5%;
  margin-left: 45%;
}
img.chic.left {
  margin-top: 5%;
  margin-left: -15%;
}

/* creation du souligné auto */
.entree_titre .titre_chic {
  color: $dark-orange;
}
.plat_titre .titre_chic {
  color: $violet;
}
.dessert_titre .titre_chic {
  color: $dark-violet;
}
.entree_titre .titre_chic:after {
  background: $dark-orange;
}
.plat_titre .titre_chic:after {
  background: $violet;
}
.dessert_titre .titre_chic:after {
  background: $dark-violet;
}

.titre_chic {
  @include soulignement(8px,10px 0px);
}

/* Chic */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {

  .chic_francaise,
  .nom_fin_chic {
  font-size: 0.6em;
  }
 
  img.chic.left {
    width: 70%;
  }
 
  img.chic.right {
    width: 70%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    padding-top: 2%;
    font-size: 0.75em;
  }

  .titre_chic {    
    @include soulignement(3px,10px 0px);
    &:after{
      margin-bottom: 10px;
    }
  }

  .entree_prix_chic, .plat_prix_chic, .dessert_prix_chic, .plat_chic, .dessert_chic, .entree_chic {
    font-size: 0.6em;
    padding-left: 10%;
  }
}

/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {

  
}