/*******    Le chic à la française    ******/
.background_chic{
  padding-bottom: 10%;
}


.plat_chic,
.entree_chic,
.dessert_chic {
  @include setfont ('Caricaturista',1.5em,$burgundy);
}

.entree_titre_chic,
.plat_titre_chic,
.dessert_titre_chic {
  @include setfont ('TYPO_COMICS',2.5em,$black);
}

.entree_chic {
  color: $dark-orange;
}
.plat_chic{
  color: $dark-pink;
}
.dessert_chic {
  color: $dark-purple;
}

.chic_1,
.chic_2,
.chic_3,
.chic_4{
  grid-column: 1;
}
.chic_prix_1,
.chic_prix_2,
.chic_prix_3,
.chic_prix_4{
  grid-column: 2;
}

.chic_francaise {
  @include gradient( 'CroissantOne-Regular',4em,$orange-gradient,$violet-gradient);
}

/* creation du souligné auto */
.titre_chic {  
  @include soulignement(8px,10px 0px);
}

/* creation du souligné auto */
.entree_titre .titre_chic {
  color: $dark-orange;
}
.plat_titre .titre_chic {
  color: $violet;
}
.dessert_titre .titre_chic {
  color: $dark-violet;
}
.entree_titre .titre_chic:after {
  background: $dark-orange;
}
.plat_titre .titre_chic:after {
  background: $violet;
}
.dessert_titre .titre_chic:after {
  background: $dark-violet;
}

/* Aligenemnt des images "barre" */

img.chic_left,
img.chic_right{
  width: 100%;
  margin-top: 20%;
}

/* chic */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {

  .chic_titre_h2{
    font-size: 0.4em;
  }

  .plat_chic,
  .entree_chic,
  .dessert_chic {
    font-size: 0.6em;
  }

  .titre_chic {  
    padding-top: 15%;
    @include soulignement(3px,10px 0px);
  }

  h2.chic_chic_francaise{
    font-size: 0.3em;
    margin-top: -10%;
    margin-bottom: -15%;
  }

  img.chic_left, img.chic_right {
    width: 100%;
    margin-top: 50%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 0.8em;
  }
}
/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

  .chic_francaise{
    font-size: 2em;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 1em;
  }

  .titre_chic {
    @include soulignement(3px,10px 0px);
  }

  .plat_chic,
  .entree_chic,
  .dessert_chic {
    font-size: 0.8em;
  }
}

/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
  .chic_titre_h2{
    font-size: 0.5em;
  }

  .plat_chic,
  .entree_chic,
  .dessert_chic {
    font-size: 0.7em;
  }

  .titre_chic {  
    font-size: 1.7em;
    padding-top: 15%;
    @include soulignement(3px,10px 0px);
  }

  h2.chic_chic_francaise{
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  
  .chic_titre_h2{
    font-size: 0.5em;
  }

  .plat_chic,
  .entree_chic,
  .dessert_chic {
    font-size: 1em;
  }

  .titre_chic {  
    font-size: 2em;
    padding-top: 15%;
    @include soulignement(3px,10px 0px);
  }

  h2.chic_chic_francaise{
    font-size: 0.8em;
    margin-bottom: -15%;
  }

  .entree_titre_chic, .plat_titre_chic, .dessert_titre_chic {
    font-size: 0.8em;
  }
}
