/*******    LA delice ENCHANTEE    ******/
.background_delice{
  padding-bottom: 10%;
}

.plat_delice,
.entree_delice,
.dessert_delice {
  @include setfont ('Caricaturista',1.5em,$black);
}

.entree_titre_delice,
.plat_titre_delice,
.dessert_titre_delice {
  @include setfont ('TYPO_COMICS',2.5em,$black);
}

.delice_1,
.delice_2,
.delice_3,
.delice_4{
  grid-column: 1;
}
.delice_prix_1,
.delice_prix_2,
.delice_prix_3,
.delice_prix_4{
  grid-column: 2;
}


.delice_papilles {
  @include gradient( 'DancingScript-Regular',6em,$blue,$blue-clear);
}

/* creation du souligné auto */
.titre_delice {  
  @include soulignementDouble($blue, $sky-blue);
}

/* Aligenemnt des images "barre" */

img.delice_left,
img.delice_right{
  width: 100%;
  margin-top: 20%;
}

/* delice */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {

  .delice_titre_h2{
    font-size: 0.3em;
  }

  .plat_delice,
  .entree_delice,
  .dessert_delice {
    font-size: 0.6em;
  }

  .titre_delice {
    font-size: 0.8em;
    @include soulignementDouble($blue, $sky-blue,2px);
    &:after{      
      margin-bottom: 10%;
    }
  }

  h2.delice_delice_enchantee{
    font-size: 0.3em;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 0.9em;
  }
    
  img.delice_left,
  img.delice_right{
    margin-top: 50%;
  }
}
/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

  .delice_titre_h2{
    font-size: 0.5em;
  }

  h2.delice_delice_enchantee{
    font-size: 0.3em;
    margin-top: 0%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 1em;
  }

  .titre_delice {
    @include soulignementDouble($blue, $sky-blue,2px);
    &:after{      
      margin-bottom: 5%;
    }
  }

  .plat_delice,
  .entree_delice,
  .dessert_delice {
    font-size: 0.8em;
  }
}

/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  .delice_titre_h2{
    font-size: 0.5em;
  }

  .plat_delice,
  .entree_delice,
  .dessert_delice {
    font-size: 0.7em;
  }

  .titre_delice {  
    font-size: 2em;
    @include soulignementDouble($blue, $sky-blue,3px);
    &:after{      
      margin-bottom: 5%;
    }
  }

  h2.delice_delice_enchantee{
    font-size: 0.8em;
  }

  img.delice_left, img.delice_right {
    width: 100%;
    margin-top: 9%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 0.8em;
  }
}
/*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  
  .delice_titre_h2{
    font-size: 0.5em;
  }

  .plat_delice,
  .entree_delice,
  .dessert_delice {
    font-size: 1em;
  }

  .titre_delice {  
    font-size: 2em;
    padding-top: 15%;
    @include soulignementDouble($blue, $sky-blue,3px);
    &:after{      
      margin-bottom: 5%;
    }
  }

  h2.delice_delice_enchantee{
    font-size: 0.8em;
  }

  img.delice_left, img.delice_right {
    width: 100%;
    margin-top: 8%;
  }

  .entree_titre_delice, .plat_titre_delice, .dessert_titre_delice {
    font-size: 0.8em;
  }
}
