/*****LA PALLETTE DU GOUT*****/
/*****MOBILE*****/ 
/* Portrait */
@media screen and (min-width: 375px) and (max-width: 767px) {
  
    .palette_gout, .nom_fin_gout{
        font-size: 1.5em;
    }
    /* Mise en forme des barre de decoration des titres du menu */
    .barre_gout.right{
        margin-left: 25%;
        width: 20%;
    }
    
    .barre_gout.left{
        margin-left: 10%;
        width: 20%;
    }
    
    .barre_gout{
        margin-top: 10%;
        width: 20%;
    }

    img.palette{
        width: 350%;
    }
      
    .entree_titre_gout{
        margin-top: -5%;
        font-size: 2.3em;
    }
    .plat_titre_gout{
        font-size: 1.7em;
    }
    .dessert_titre_gout{
        margin-top: 7%;
        font-size: 1em;
    }
    
    .titre_gout:after{
        height: 4px;
    }

    .entree_gout, .plat_gout, .dessert_gout{
        font-size: 1em; 
    }

    .prix_gout, .plat_prix_gout, .dessert_prix_gout{
        font-size: 1em;
    }
    .prix_gout{
        line-height: 3.5em;
    }
    .plat_prix_gout{
        line-height: 4em;
    }
    .dessert_prix_gout{
        line-height: 3.3em;
    }
}
/*****MOBILE*****/ 
/* paysage */
@media screen and (min-width: 667px) and (max-width: 767px) {
    
    .palette_gout, .nom_fin_gout{
        font-size: 1.5em;
    }

    /* Mise en forme des barre de decoration des titres du menu */
    .barre_gout.right{
        margin-left: 25%;
        width: 20%;
    }
    
    .barre_gout.left{
        margin-left: 10%;
        width: 20%;
    }
    
    .barre_gout{
        margin-top: 10%;
        width: 20%;
    }

    img.palette{
        width: 350%;
    }
      
    .entree_titre_gout{
        margin-top: 1%;
        font-size: 2.3em;
    }
    .plat_titre_gout{
        margin-top: 2%;
        font-size: 2em;
    }
    .dessert_titre_gout{
        margin-top: 2%;
        font-size: 2em;
    }

    .entree_gout, .plat_gout, .dessert_gout{
        font-size: 1em; 
    }

    .prix_gout, .plat_prix_gout, .dessert_prix_gout{
        font-size: 1em;
    }
    .prix_gout{
        line-height: 2em;
    }
    .plat_prix_gout{
        line-height: 2.8em;
    }
    .dessert_prix_gout{
        line-height: 2.2em;
    }
}