$green: #579C87;
$yellow:#FDCB46;
$yellow-clear:#fdcc4634;
$burgundy: #3D1319;
$purple: #9c47fc;
$purple-clear: #925CF9;
$dark-purple: #6e4ccc;
$pink: #f66a6a;
$dark-pink: #A56799;
$orange: #e76c25;
$black: #000000;
$white: #FFF5FE;
$blue: #0228DD;
$blue-clear:#229cf98c;
$sky-blue: #229DF9;



$box-shadow: 1px 1px 20px #aaa;