$green: #579c87;
$yellow: #fdcb46;
$yellow-clear: #fdcc4634;
$burgundy: #3d1319;
$purple: #9c47fc;
$purple-clear: #925cf9;
$dark-purple: #6e4ccc;
$pink: #f66a6a;
$dark-pink: #a56799;
$orange: #e76c25;
$black: #000000;
$white: #fff5fe;
$blue: #0228dd;
$blue-clear: #229cf98c;
$sky-blue: #229df9;

$box-shadow: 1px 1px 20px #aaa;
