//header/footer
$green: #579c87;
$yellow: #fdcb46;
//note enchantée
$yellow-clear: #fdcc4634;
$burgundy: #3d1319;
$purple: #9c47fc;
$purple-clear: #925cf9;
$dark-purple: #6e4ccc;
$pink: #f66a6a;
$dark-pink: #a56799;
$orange: #e76c25;
$black: #000000;
$white: #fff5fe;
//delice des papilles
$blue: #0228dd;
$blue-clear: #229cf98c;
$sky-blue: #229df9;
//chic a la francaise
$dark-orange:#c67412;
$violet: #a56799;
$dark-violet:#6e4ccc;
$violet-gradient:#8f5bfd;
$orange-gradient:#e38913;
// la palette du gout
$sky-green: #41963c;
$green-light: #b6f87a;
$dark-green: #22611f;
$yellow-sky: #e3fc73;
//shadow des menus
$box-shadow: 1px 1px 20px #aaa;
