/* Mise en couleur du fond du footer */
footer{
    @include setfont ('P22Underground-Book',3em,$yellow);
    background-color: $green;
    position: fixed;
    bottom: 0;left: 0;right: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.yellow{
    text-decoration:none; 
    color: $yellow;
    cursor: default;
}

.legal{
    margin-left: 2.5%;
    text-align: left;
}
.contact{
    margin-right: 2.5%;
    float: right;
}

.legal, .contact{
    @include wiggle
}

/* FOOTER */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {

    footer{
       font-size: 1em;
    }
}

/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

    footer{
        font-size: 2em;
    }
}
/*****TABLETTE*****/ /* portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    footer{
        font-size: 2em;
    }
}
  /*****TABLETTE*****/ /* paysage */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    
    footer{
        font-size: 1.5em;
    }
}