/* Mise en couleur du fond du footer */
footer{
    background-color: $green;
    color: $yellow;
    position: fixed;
    bottom: 0;left: 0;right: 0;
    font-family: 'P22Underground-Book';
    font-size: 3em;
    padding-top: 2%;
    padding-bottom: 2%;
}

.yellow{
    text-decoration:none; 
    color: $yellow;
    cursor: default;
}
.legal{
    margin-left: 2.5%;
    text-align: left;
}
.contact{
    margin-right: 2.5%;
    float: right;
}

/* Animations du wiggle */
.legal:hover, .contact:hover {
	display: inline-block;
	transform-origin: center;
	animation: wiggle-anim 0.52s cubic-bezier(1,.28,0,.97) infinite;
}

@keyframes wiggle-anim {
	10%, 90%, 40%, 60% {
    	transform: translate3d(4px, 0,0);
  	}
  	20%, 80%, 30%, 50%, 70% {
    	transform: translate3d(-4px, 0,0);
  	}
}