header{
    @include setfont ('P22Underground-Book',6.5em,$yellow);
    background-color: $green;
    cursor: default;
    padding-top: 2%;
    padding-bottom: 2%;
    letter-spacing: -13px;
    text-align: center;
    margin: -8px -8px -8px;
}

/* HEADER */
/*****MOBILE*****/ /* portrait */
@media screen and (min-width: 320px) and (max-width: 567px) {

    header{
        @include setfont ('P22Underground-Book',4.5em,$yellow);
        letter-spacing: -8px;
    }
}

/*****MOBILE*****/ /* paysage */
@media screen and (min-width: 568px) and (max-width: 767px) {

    header{
        @include setfont ('P22Underground-Book',6em,$yellow);
        letter-spacing: -11px;
    }
}